html,
body {
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #000;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.main {
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}