@media (max-width: 1220px) {
    .popular {
        &__items {
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (max-width: 992px) {
    .advantages {
        margin-bottom: 25px;

        &__items {
            flex-direction: column;
            align-items: center;
        }
    }
}

@media (max-width: 768px) {
    .header {
        &__top {
            flex-direction: column;
            align-items: center;
        }

        &__info-email {
            margin: 0 auto;
        }
    }

    .logo {
        margin-bottom: 25px;
    }

    .menu {
        &__list {
            flex-wrap: wrap;
            justify-content: center;
        }

        &__item+.menu__item {
            padding-left: 15px;
        }
    }

    .footer {
        &__inner {
            justify-content: center;
        }

        &__info-link {
            margin: 0 auto;
        }
    }
}