@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header {
    &__top {
        padding: 30px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #ccc;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__info-phone {
        font-size: 25px;
        font-weight: 700;
    }

    &__info-email {
        font-size: 16px;
        font-weight: 300;
        color: #808080;
        margin-left: auto;
    }
}

.menu {
    padding: 20px;

    &__list {
        display: flex;
        justify-content: space-between;
    }

    &__link {
        transition: color .3s;

        &:hover {
            color: #f44336;
        }
    }

}

.slider__dots {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5px;
    font-size: 0;

    & button {
        width: 15px;
        height: 15px;
        border: 1px solid #ccc;
        border-radius: 0;
        outline: 0;
        margin: 0 6px;
    }
}

.slick-active button {
    background-color: #000;
    border: none;
}

.footer {
    color: #fff;
    background-color: #595959;

    &__inner {
        height: 80px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__info-author {
        font-weight: 300;
    }

    &__info-link {
        font-weight: 300;
        color: #fff;
        margin-left: auto;
    }
}

.about__link {
    text-decoration: underline;
}

.popular {
    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    &__item {
        max-width: 580px;
        margin-bottom: 20px;
        position: relative;
    }

    &__item::before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgb(0, 0, 0);
        opacity: 0.5;
    }

    &__item-link {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        color: #fff;
    }
}

@import 'media';